﻿
.link {
    cursor: pointer;
}

.tags {
    margin: 10px 0;
}
.tags .tag {
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px;
}
.tags .tag:hover {
    color: red;
    text-decoration: none;
}

input { 
    margin-bottom: 0px !important;
}

.row {
    padding-bottom: 5px;
}

.tag {
    cursor: pointer;
}