﻿    
<div class="modal-header">
    <h3 class="modal-title">Addresses</h3>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-md-3">Street:</div>
            <div class="col-md-3">
                <input type="text" ng-model="newAddress.Street" class="form-control" placeholder="Street">
            </div>
            <div class="col-md-3">No:</div>
            <div class="col-md-3">
                <input type="text" ng-model="newAddress.No" class="form-control" placeholder="No">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">ZipCode:</div>
            <div class="col-md-3">
                <input type="text" ng-model="newAddress.ZipCode" class="form-control" placeholder="ZipCode">
            </div>
            <div class="col-md-3">City:</div>
            <div class="col-md-3">
                <input type="text" ng-model="newAddress.City" class="form-control" placeholder="City">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">County:</div>
            <div class="col-md-3">
                <input type="text" ng-model="newAddress.County" class="form-control" placeholder="County">
            </div>
            <div class="col-md-3">Country:</div>
            <div class="col-md-3">
                <input type="text" ng-model="newAddress.Country" class="form-control" placeholder="Country">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
