﻿    
<div class="modal-header">
    <h3 class="modal-title">Connections</h3>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-md-3">
                <select name="select" id="select" ng-model="newConnection.TypeID" class="form-control">
                    <option ng-repeat="type in types" value="{{type.type}}">{{type.value}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="newConnection.Value" class="form-control" placeholder="Value">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
