﻿<div class="container">

    <h3>Contact - {{title}}</h3>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-10">
            Click on tag to delete it!<br/>
            <div class="tags">
                <tag-manager tags="Contact.Tags"></tag-manager>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            <button type="button" class="btn btn-danger" ng-click="go('/contacts')">Cancel</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">Name:</div>
        <div class="col-md-3">
            <input type="text" ng-model="Contact.Contact.Name" class="form-control" placeholder="Name">
        </div>
        <div class="col-md-3">Title:</div>
        <div class="col-md-3">
            <input type="text" ng-model="Contact.Contact.Title" class="form-control" placeholder="Title">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Surname:</div>
        <div class="col-md-3">
            <input type="text" ng-model="Contact.Contact.Surname" class="form-control" placeholder="Surname">
        </div>
        <div class="col-md-3">Middlename:</div>
        <div class="col-md-3">
            <input type="text" ng-model="Contact.Contact.MiddleName" class="form-control" placeholder="Middlename">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Date of Birth:</div>
        <div class="col-md-3">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="Contact.Contact.DateOfBirth" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">

        </div>
    </div>
    <br/>
    <h4>Addresses</h4>
    <br/>
    <button type="button" class="btn btn-primary" ng-click="addAddress()">Add new address</button>
    <br/>
    <br/>
    <div ng-repeat="address in Contact.Address" ng-hide="address.IsDeleted">
        <div class="row">
            <div class="col-md-3">Street:</div>
            <div class="col-md-6" style="padding: 0px;">
                <div class="col-md-9">
                    <input type="text" ng-model="address.Street" class="form-control" placeholder="Street">
                </div>
                <div class="col-md-3">
                    <input type="text" ng-model="address.No" class="form-control" placeholder="No">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger" ng-click="deleteAddress(address)">X</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">ZipCode:</div>
            <div class="col-md-3">
                <input type="text" ng-model="address.ZipCode" class="form-control" placeholder="ZipCode">
            </div>
            <div class="col-md-3">City:</div>
            <div class="col-md-3">
                <input type="text" ng-model="address.City" class="form-control" placeholder="City">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">County:</div>
            <div class="col-md-3">
                <input type="text" ng-model="address.County" class="form-control" placeholder="County">
            </div>
            <div class="col-md-3">Country:</div>
            <div class="col-md-3">
                <input type="text" ng-model="address.Country" class="form-control" placeholder="Country">
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <h4>Connections</h4>
    <br/>
    <button type="button" class="btn btn-primary" ng-click="addConnection()">Add new contact</button>
    <br/>
    <br/>
    <div ng-repeat="connection in Contact.Connections" ng-hide="connection.IsDeleted">
        <div class="row">
            <div class="col-md-3">{{type(connection.TypeID)}}</div>
            <div class="col-md-3">
                <input type="text" ng-model="connection.Value" class="form-control" placeholder="Value">
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger" ng-click="deleteConnection(connection)">X</button>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>