﻿<div class="container">

    <h3>Contacts</h3>
    <p>
        <div class="search-bar">
            <input type="text" ng-model="SearchText" class="form-control" ng-model-options="{ debounce: global.debounce }" placeholder="Search contact">
        </div>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Date of birth</th>
            <th>Tags</th>
            <th>
                <button type="button" class="btn btn-primary" ng-click="go('/contacts-new')">Add new contact</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in Contacts">
            <td ng-bind="contact.Contact.Name"></td>
            <td ng-bind="contact.Contact.Surname"></td>
            <td ng-bind="contact.Contact.DateOfBirth | date:'dd.MM.yyyy'"></td>
            <td>
                <div class="tags">
                    <a ng-repeat="tag in contact.Tags" class="tag">{{tag.Name}}</a>
                </div>
            </td>
            <td>
                <div class="tags">
                    <button type="button" class="btn btn-primary" ng-click="go('/contacts-edit/'+contact.Contact.Id)">Edit</button>
                    <button type="button" class="btn btn-danger" ng-click="delete(contact.Contact)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
